In [1]:
import pandas as pd

df = pd.read_csv('data.csv')
df.head()

,source,neighborhood,city,state,transaction,property_type,listing_date,price,suffix,size,...,condition,construction_year,age,air_conditioning,central_heating,swimming_pool,elevator,garden,equipped_kitchen,amenities
0,tecnocasa,Hammamet Nord,Hammamet,Nabeul,sale,Appartement,2025-03-12,390000,TTC,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
1,tecnocasa,Kelibia,Kelibia,Nabeul,sale,appartement,2025-03-12,190000,TTC,\N,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N
2,century 21,Les berges du Lac 2,Les berges du Lac,Tunis,rent,Bureau,2023-11-09,2800,HT,150,...,bonne condition,\N,\N,1,0,0,1,0,0,Climatisation+Fibre optique+Gardien+Parking+As...
3,tecnocasa,Nabeul centre,Nabeul,Nabeul,sale,villa,2025-03-10,1700000,TTC,540,...,bonne condition,2000,25,0,0,0,0,1,0,Jardin
4,REMAX,La Mannouba,Mannouba,Mannouba,sale,Bureau,2025-02-24,2000000,TTC,8640,...,\N,\N,\N,\N,\N,\N,\N,\N,\N,\N